html, body {
    height: 100%;
    width: 100%;
}

h2{color: #b07021;}

a {color: #ffffff}

a:hover{
    color: #b07021;
    text-decoration: none;
}

/* --------- Menu --------- */

.header {
    background-color: #094563;
}

.search {margin: 0;}

.logo {
    width: 70%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.social-header {
    margin-top: 5px;
    margin-bottom: 5px;
}

.social-header:hover {text-decoration: none;}

.navbar-inverse {
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
}

.navbar-inverse .navbar-nav li a {
    color: #ffffff;
    font-weight: 600;
}

.navbar-inverse .navbar-nav li a:hover {
    color: #b07021;
    font-weight: bold;
}

.navbar-inverse .navbar-nav li a:focus {
    color: #2281af;
    font-weight: 600;
}


.navbar-inverse .navbar-nav .active a{
    background-color: #2281af;
    color: #ffffff;
}

.navbar-inverse .navbar-nav .active a:active {
    background-color: transparent;
}

.navbar-inverse .navbar-nav .active :hover {
    background-color: transparent;
    color: #2281af;
}

.navbar-inverse .navbar-nav .active a {
    background-color: transparent;
    color: #2281af;
}

.navbar-inverse .navbar-nav .active a:hover {
    background-color: transparent;
    color: #b07021;
}

.navbar-nav li .dropdown-menu{
    background-color: transparent;
    color: #ffffff;
}

.n.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: transparent;
}

/* --------- Image Header --------- */

#welcome{
    background-image: url("./images/img2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: table;
    height: 80%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.welcome-text {
    vertical-align: middle;
    text-align: center;
    color: white;
    padding-top: 10%;
    padding-bottom: 15%;
}

/* --------- container films --------- */

.list-movies {
    background-color: #094563;
    color: white;
    padding: 40px;
}

.img-fluid {
    width: 100%;
    height: auto;
}
.btn{
    background-color: #b07021;
    border: none;
}

.movie-title{
    color: #b07021;
    font-size: 1.3em;
    font-weight: bold;
}

.movies{
    padding-bottom: 10px;
}

.reservation-btn {margin-top: 10px;}

.reservation-btn-mobile{display: none;}

/* --------- L'association --------- */

#about{
    background-image: url("./images/img2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.about-text {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    color: white;
    padding: 5%;
}

.about-text h1 {
    font-size: 300%;
    font-weight: 700;
}

.padding {
    padding: 15px 0;
}

.padding img{
    width: 100%;
}


/* --------- Newsletter --------- */

#contact{
    background-image: url("./images/img2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    padding: 60px;
}

.contact-form {
    background: #094563;
    color: #ffffff;
    padding: 20px;
}

#back-newsletter{
    background-image: url("./images/img2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.newsletter {
    padding: 50px 0 50px 0;
    color: #ffffff;
}

/* --------- Actualités --------- */

.actu-title {
    color: #094563;
    font-size: 1.5em;
}

.back-actu {
    box-shadow: 1px 1px 10px #555;
    padding: 2px;
    margin-bottom: 10px;
}

.contact-button {
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.readmore {
    color: #094563;
}

.readmore :hover {color: #b07021;}

/* --------- Footer--------- */

footer {
    width: 100%;
    background-color: #094563;
    padding: 3% 3% 3% 3%;
    color: #ffffff;
}

.contact-footer {
    color: #b07021;
}

.list-group {
    list-style: none;
}

.fa {
    padding: 15px;
    font-size: 25px;
    color: #ffffff;
}

/* --------- page contact.html --------- */

.contact-form {
    background: #094563;
    color: #ffffff;
    padding: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact-text{
    color: #b07021;
    font-weight: bold;
}

hr {
    background: #ffffff;
}

iframe{
    width: 90%;
    height: 450px;
}

/* --------- Page des films --------- */

.movies-info{
    color: #b07021;
}

.page-movie{
    padding-top: 20px;
}

.session{
    font-weight: bold;
    font-size: 1.5em;
}

.form-movie {
    margin-bottom: 20px;
}

.trailer {margin: 10px 0 10px 0;}

/* Conteneur principal */
.overlay-image {
    position: relative;
    width: 100%;
}
/* Image originale */
.overlay-image .image {
    display: block;
    width: 100%;
    height: auto;
}
/* Texte original */
.overlay-image .text {
    color: #fff;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* Overlay */
.overlay-image .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
/* Apparition overlay sur passage souris */
.overlay-image:hover .hover {
    opacity: 1;
}

.overlay-image .normal {
    transition: .5s ease;
}
.overlay-image:hover .normal {
    opacity: 0;
}
.overlay-image .hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.movies-right{
    background-color: #efefef;
    padding: 20px;
}

.title-form-resa{
    font-size: 1em;
    color: #b07021;
}


/* --------- */

@media (max-device-width: 1024px){

    p{font-size: 0.8em;}

    h1{font-size: 1.2em;}

    span{font-size: 1.5em;}

    blockquote{font-size: 2em;}

    .social-header{text-align: center;}

    .btn-search{display: none;}

    .nav li{display: inline flow-root list-item;}

    .navbar-nav{text-align: center;}

    .logo{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .reservation-btn-mobile{
        display:block;
        margin:auto;
        white-space: unset;
    }

    #welcome{ height:20%}

    #about { height:20%}

    #back-newsletter {height: 20%;}

    .title-form-resa{font-size: 2em;}

    .overlay-image {margin: 10px;}

    .overlay-image .hover{display: none;}
}




